/*----- FONTS -----*/
// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Chivo');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inconsolata:wght@200&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
// Andrew Heiss
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fira+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*-- scss:defaults --*/

// Define Color variables `$var-name: value;`
$body-text-color: #122531;
$h1-text-color: #1f4156;
$h2-text-color: #2D5D7B;
$accent-text-color: #5EBEE7;
$footer-bkg-color: #abbeca; //#ffffff61;
$link-text-color: #A14155;
$link-hover-color: #e75e7a;
$yellow-color: #e7cc5e;
$yellow-dark-color: #b2941a;
$background-color: #f8f9fa;
$anti-flash-white: #EAECEC;
$nav-link-color: #ecfcff;
$nav-hover-color: #d5dfe5;
$code-color: #24857a;


/*-- scss:rules --*/

// ---- Navigation
// (solo website name)
.navbar-brand {
  //font-family: "Overpass", mono;
  font-size: 1.75rem;
  font-weight: 900;
  white-space: nowrap;
  //color: $h1-text-color;
}
// (rest of the navbar)
.navbar {
  font-family: "Overpass", mono;
  font-size: 1.25rem;
  font-weight: 600;
  //background-color: $theme_main;

  /* Navbar link styles (excluding specific cases) */
  a {
    color:$nav-link-color; // Default text color
     &:hover {
      color: $nav-hover-color; // Hover text color
      text-decoration: underline;
    }
  }
}

// TOC links (specifically scoped to avoid affecting the header navigation bar)
#TOC .nav-link {
  color: $link-text-color !important;  /* Default link color */
  text-decoration: none;  /* Remove underline */

  &:hover {
    color: $link-hover-color !important;  /* Hover color */
    text-decoration: none;  /* Optional: underline on hover */
  }

  &:active {
    color: $yellow-dark-color !important;  /* Active link color */
    text-decoration: underline;
  }
}

// Active TOC link (when the link is active)
#TOC .nav-link.active {
  color: $yellow-dark-color !important;  /* Highlight active link */
  font-weight: bold;  /* Optional: Make active link bold */
  text-decoration: none;  /* Remove underline for active link */
}


// footer
.nav-footer {
  background-color: $footer-bkg-color;

  // Footer text (non-link)
  p {
    color: $body-text-color;
    //font-size: 14px;
    //margin: 0;
    //line-height: 1.6; // Slightly increased line-height for readability
  }

  // Footer links
  a {
    color: $link-text-color; // Muted teal for default link color
    text-decoration: none; // Remove underline by default
    font-weight: 500; // Slightly bold for emphasis

    &:hover {
      color: $link-hover-color; // Darker teal on hover for subtle contrast
      text-decoration: underline; // Add underline on hover for clarity
    }

    &:active {
      color: $yellow-dark-color; // Slightly brighter color when active
      text-decoration: none;

    }
  }
}

// Website background color
body {
  background-color: white;
}


// Body text
h1 {
  color: $h1-text-color;
}
h2 {
  color: $h2-text-color;
}
p {
  color: $body-text-color;
}

// Code color
code {
  color: $code-color;
}

// Links
a {
  color: $link-text-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

// Links of contacts in YAML
body .about-links .about-link {
  color: $link-text-color !important;  /* Change this to your preferred color */
  font-size: 2rem;
  text-decoration: none;  /* Optional: Remove underline */
  background-color: $background-color;  /* Optional: Add background color */
  padding: 15px 15px;  /* Add padding for button-like appearance */
  border-radius: 5px;  /* Optional: Add border radius for rounded corners */
  display: inline-block;  /* Ensure the link behaves like a button */
}

body .about-links .about-link:hover {
  color: $link-hover-color !important;  /* Change hover color */
  font-weight: bold;  /* Optional: Make links bold */
  background-color: $background-color; /* Change background color on hover */
  text-decoration: underline;  /* Optional: Add underline on hover */
}

